* {
    padding: 0;
    margin: 0;
}

:root {
    --fuente: "SF Pro Display", 
                "SF Pro Icons", 
                "Helvetica Neue", 
                "Helvetica", 
                "Arial", 
                sans-serif;
    --color-texto: #1A2027;
    --color-principal: #1976d2;
    --back-principal: #d1e6fa;
    --color-secundario: #687585;
    --color-fondo: #f0f4f5;
    --color-error: rgb(95, 33, 32);
    --back-error: rgb(253, 237, 237);
    --borde-input: #d6d6d6;
    --back-input: #fff;
}

html {
    font-family: var(--fuente);
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #010101;
    margin: 25px 0 0;
    padding: 10px 0;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.05rem;
}

p,
span,
a {
    color: #010101;
    font-size: 1.15rem;
    font-weight: 400;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    margin: 10px 25px;
}

/** UTILS */
.contenido {
    max-width: 950px;
    margin: 0 auto;
}

.contenedor {
    margin: 10px 25px;
    text-align: center;
}

.center {
    text-align: center;
}

/** NAV */
nav li {
    display: inline-flex;
}

nav a,
nav a:hover {
    color: #1A2027;
    text-decoration: none;
}

nav a {
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #f0f4f5;
}

nav a.activo {
    color: #1976d2;
}

/** GRID */
.grid-column,
.grid-row {
    display: flex;
}

.grid-column {
    flex-direction: column;
    row-gap: 5px;
}

.grid-row {
    flex-direction: row;
    column-gap: 20px;
}
