form {
    display: grid;
    height: auto;
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
}

form .my-grid {
    display: flex;
    column-gap: 1.5rem;
}

form .my-input {
    position: relative;
    display: grid;
    width: 100%;
    padding-bottom: 1.25rem;
}

form label {
    padding-top: 1rem;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.8;
}

form label.opcional:after {
    content: ' (Opcional) ';
    color: var(--color-secundario);
    font-size: .95rem;
    font-weight: 300;
}

form input,
form textarea,
form select {
    padding: 12.5px 10px;
    color: var(--color-texto);
    font-size: 1.15rem;
    border: 1px solid var(--borde-input);
    border-radius: 4px;
    background-color: var(--back-input);
    cursor: text;
}

input[type=color] {
    height: 35px;
    width: 55px;
    padding: 3.5px;
    cursor: pointer;
}

form input[type=button],
form input[type=button]:focus {
    padding: 12px 15px;
    margin: 25px 0 25px auto;
    color: white;
    font-size: .85rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: var(--color-principal);
    box-shadow: none;
    cursor: pointer;
}

form input[type=button]:hover {
    box-shadow: 0 0 0 3px var(--back-principal);
}

form input:focus,
form textarea:focus,
form select:focus {
    outline: none;
    border: 1px solid var(--color-principal);
    box-shadow: 0 0 0 3px var(--back-principal);
}

form .alert {
    position: absolute;
    bottom: 0;
    color: red;
    font-size: .75rem;
}
