table {
    margin: 0 auto;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px 20px;
    text-align: left;
    border: 1px solid #687585;
}

table th {
    text-transform: uppercase;
    color: #687585;
    font-size: .85rem;
    font-weight: 600;
    background-color: #f0f4f5;
}

table img {
    max-width: 70px;
}

